# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.lock.json
.vs/
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
.idea/
*.sln.iml

# Docker
docker-compose.override.yml

# Logs
logs/
*.log 